.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: rgb(255, 255, 255, 0.8);
    margin: 1rem;
    border-radius: 0.25rem;
  }

  .description {
    display: inline-block;
  }

  .img {
    display: inline-block;
    border-radius: 0.25rem;
  }

  .about {
    display: inline-block;
  }
  
  .description p {
    position: relative;
    margin: 0;
    padding: 1rem;
  }