@media only screen and (max-width: 768px) {
    .wrapper {
        width: 90vw;
    }
    .wrapperImage {
        width: 85vw;
    }
}

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 600px;
    }
    .wrapperImage {
        width: 600px;
    }
}